//  FADE-IN
// ---------------------------------------------

@mixin fade-in($duration: 0.35s) {
    animation-name: fade-in;
    animation-duration: $duration;
    animation-fill-mode: both;
  
    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

//  FADE IN DOWN
// ---------------------------------------------

@mixin fade-in-down($duration: 0.75s) {
    animation-name: fade-in-down;
    animation-duration: $duration;
    animation-fill-mode: both;
    
    @keyframes fade-in-down {
      0% {
        transform: translateY(-20%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

//  FADE IN UP
// ---------------------------------------------

@mixin fade-in-up($duration: 0.75s) {
    animation-name: fade-in-upward;
    animation-duration: $duration;
    animation-fill-mode: both;
    
    @keyframes fade-in-upward {
      100% {
        transform: translateY(0%);
        opacity: 1;
      }
      0% {
        transform: translateY(7%);
        opacity: 0;
      }
    }
  }